html,
body,
header,
.view {
  height: 100%;
}
body {
  position: relative;
  /* overflow: hidden; */
}
.header {
  height: auto;
}
.age {
  color: red;
  margin-top: 5%;
  text-align: center;
}
.agebutton {
  border-radius: 1em;
  margin-top: 1%;
  width: 100px;
  height: 35px;
  background-color: grey;
  color: white;
}
.game1 {
  padding-top: 8%;
  text-align: center;
}
.game2 {
  padding-top: 2%;
  text-align: center;
}
.button {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 1em;
}
.box {
  background: #333333;
  opacity: 99%;
  border-radius: 1em;
  color: #f2f2f2;
  position: fixed;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 0;
  margin: 0 auto;
  z-index: 9;
  width: 70%;
  height: 40%;
  text-align: center;
  display:block;
  
}
#ageTest {
 margin-top:10%;
}

#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK, #cookieConsent a.cookieConsentNO{ 
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover, a.cookieConsentNO:hover{
    background-color: #E0C91F;
}
body {
	background: #f1f1f1;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.padding-top {
	padding-top: 150px;
}

.top-nav-collapse {
  background-color: #808080 !important;
}
.navbar:not(.top-nav-collapse) {
  background: white !important;
  opacity: 0.5;
}


@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #808080 !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.rgba-gradient {
  background: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4) 100%);
  background: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4) 100%);
  background: -webkit-gradient(linear, -90deg, from(rgba(0, 0, 0, 0.4)), to(rgba(255, 255, 255, 0.4)));
  background: -o-linear-gradient(-90deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4) 100%);
  background: linear-gradient(to -90deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4) 100%);
}
 



*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}

.gallery-section{
  width: 100%;
  padding: 60px 0;
  background: #f1f1f1;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.inner-width-team{
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.border{
  width: 20%;
  height: 4px;
  background: #333;
  margin: 20px auto;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}



@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}


.gallery-section .image:hover img{
    transform: scale(1.2);
    transition:transform 1s ease;
    overflow: hidden;

}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}

.x {
	text-align: center;
}

video {
  width: 100% !IMPORTANT;
  height: auto !IMPORTANT;
}


.svg {
  display: flex;
  align-content: flex-end;
}

.footer-grey {
	background-color: #808080;
}

#found1 {
  text-align: left;

}